html, body { 
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 203, 160);
} 

/* tast per aggiungere e nav bar : position fixed; 
prima tags, e poi cancella; */ 

.array-container{ 
    width: 100%;
    margin-top: 50px;
}

.todo-header{ 
    top: 45px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: -10vh;
    height: 8vh; 
    min-height: 55px;
    width: 100%;
    position: fixed; 
    background-color: rgb(189, 56, 3); 
    padding: 0px 5px; 
    box-shadow: -4px 5px 5px 0px rgba(50, 50, 50, 0.651);
}

.update-button{ 
    background-color:rgba(189, 56, 3, 0); 
    background-image: url(./assets/refresh.svg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    border-style: none; ;
    width: 40px; 
    height: 40px;
    border-radius: 20%; 
    margin: 10vw;
    font-size: medium;
} 

.todo-card{  
    background: rgb(224, 64, 16);
    /* background: linear-gradient(352deg, rgba(9,121,91,1) 26%, rgba(0,255,153,1) 100%); */
    width: fit-content; 
    margin: 10px; 
    padding: 10px;
    display: flex; 
    color: rgb(46, 36, 30); 
    border-radius: 20px;
} 

.todo-grid{ 
   
    display: grid; 
    grid-template-columns: repeat(2fr, 1fr);
    grid-template-rows: repeat(1fr, 1fr, 1fr, 1fr, 1fr); 
    grid-template-areas: 'name name' 
                         'taskflex taskflex' 
                         'creazione .' 
                         'divider divider' 
                         'delete check'; 
    row-gap: 10px; 
    column-gap: 20px; 
}

.todo-name{ 
    grid-area: name;
} 

.todo-tags{ 
    grid-area: taskflex; 
    display: flex; 
} 

.tags-items{ 
    background-color: rgb(152, 48, 0); 
    height: fit-content;
    padding: 2px 10px;
    border-radius: 20px;
    border-style: none; 
    color: rgb(253, 223, 209); 
} 

.creation-date{ 
    grid-area: creazione; 
} 

.todo-divider{ 
    grid-area: divider;
    height: 2px; 
    background-color: #1d1d1d17; 
    border-radius: 1px; 
}

/* .button-container{ 
    align-items: flex-end;
    width: 40px;
    height: 40px;
    position: absolute; 
    margin-left: 85%; 
    margin-top: 90vh; 
} */

.delete-button{ 
    background-image: url(./assets/delete.svg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    border-radius: 100%;
    border-style: none;
    grid-area: delete;
    height: 40px; 
    width: 40px; 
    box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.505);
    background-color: orangered; 
    cursor: pointer;
} 

.done-check{ 
    grid-area: check; 
    height: 40px;
    width: 40px; 
    justify-self: end;
}

.add-button{ 
    background-color: rgb(255, 94, 0); 
    color: rgb(253, 223, 209);
    position: fixed; 
    font-size: xx-large;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-weight: bold;
    width: 55px; 
    height: 55px;
    border-radius: 100%; 
    bottom: 1vh; 
    right: 42vw; 
    box-shadow: 3px 3px 3px 0px rgba(50, 50, 50, 0.505); 
    cursor: pointer;
} 

/* .todo-card{ 
        display: flex; 
        flex-direction: column; 
        padding: 16px; 
        border-bottom: 1px;
    } */ 

/* .tag{ 
        border: 1px solid; 
        padding: 4px; 
        border-radius: 4px; 
        background-color: ; 
        color: ;

    } */ 

/* .todo-name{ 
        font-size: x-large;
    }*/ 

/* .buttons-container{ 
        display: flex;
    }*/

/* .divier{ 
       
}*/